* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 900px) {
   
    img {
            width: 75%;
    }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    
    img {
            width: 50%;
    }
}

h1 {
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    margin-left: 10px;
    margin-right: 10px;
}

h3 {
    margin-left: 10px;
    margin-right: 10px;
}

.grid {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    background-color: #fefedd;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    color: #00009f;
}

.rowbanner {
    max-height: 200px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #00009f;
    color: #00009f;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-4-center {
    width: 33.33%;
    text-align: center;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
    margin-bottom: 5px;
}

.col-6-right {
    width: 50%;
    text-align: right;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
    text-align: center;
}
